@{
    ViewBag.Title = "Currency Converter";
}

<form class="currency-converter-form">
    <input type="number" placeholder="GBP" class="currency-from" />
    <input type="number" placeholder="EUR" class="currency-to" />
</form>

@section Scripts {

}
